@model StoreApplication.WebApp.Models.Order

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="CustomerId">Customer Name:</label>
                <select id="CustomerId" asp-for="CustomerId" class="form-control">
                    @foreach (var customer in Model.AllCustomers)
                    {
                        <option value=@customer.CustomerId>@customer.FirstName @customer.LastName</option>
                    }

                </select>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="LocationId">Location Name:</label>
                <select id="LocationId" asp-for="LocationId" class="form-control">
                    @foreach (var location in Model.AllLocations)
                    {
                        <option value=@location.LocationId>@location.Name</option>
                    }

                </select>
                <span asp-validation-for="LocationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

